<script lang="ts">
  let width: number;
  let height: number;
</script>

<div class="display" bind:clientWidth="{width}" bind:clientHeight="{height}">
  <svg class="timeline">
    <rect></rect>
  </svg>
</div>

<style>
  rect {
    width: 100%;
    height: 100%;
  }
</style>
