:root {
	font-size: 0.75em;
 }
 @media (min-width: 800px) {
	:root {
	font-size: 0.875em;
	}
 }
 @media (min-width: 1200px) {
	:root {
	font-size: 1em;
	}
 } 

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #1d1d1d;
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	display: flex;
	flex-direction: column;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: white;
	background-color: #303030;
	border-color: red;;
	border-width: 1px;
	border-radius: 0;
	outline: none;
	display: inline;
	margin: 1em 1em 1em 1em;
	box-shadow: 2px 2px 5px black;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: darkred;
}

svg {
	color: aliceblue;
	width: 100%;
	height: 100%;
}

div.display {
	width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	height: 100%;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	display: flex;
	flex-direction: column;
	border: red;
	border-width: 1px;
	border-style: groove;
	padding: 5px;
	margin: 5px;
}