<script lang="ts">
  import * as d3 from "d3";
  import { onMount } from "svelte";

  let w: number;
  let h: number;

  function loadData() {
    console.log("Width: " + w + "; Height: " + h);
    const margin = { top: 10, right: 30, bottom: 30, left: 60 };

    let width: number = w - margin.left - margin.right;
    let height: number = h - margin.top - margin.bottom - 62;

    // Map the <svg> element to the svg variable for d3
    const svg = d3
      .select("svg.energy")
      .append("g")
      .attr("transform", `translate(${margin.left},0)`);

    // Parse the data from the csv, mapping each field in the implicit function
    d3.csv("/data/energy.csv", function (d) {
      return {
        date: d3.timeParse("%Y")(d.Year),
        entity: d.Entity,
        code: d.Code,
        consumption: d["Primary energy consumption (TWh)"],
      };
    }).then(function (data) {
      // Create the graph

      // Group the various lines by the 'entity' field so they're drawn seperately
      const sumstat = d3.group(data, (d) => d.entity);

      // ----------
      // Add X axis
      // ----------

      // Create X scale based on date
      const xScale = d3
        .scaleTime()
        .domain(
          d3.extent(data, function (d) {
            return d.date;
          })
        )
        .range([0, width]);

      // Scale number of ticks to available width
      let numberOfXTicks: number = Math.floor(w / 60);

      // Add X axis
      svg
        .append("g")
        .attr("transform", `translate(0, ${height})`)
        .call(d3.axisBottom(xScale).ticks(numberOfXTicks))
        .transition();

      // Add X axis label
      let xAxisLabel: string = "Year";
      svg
        .append("text")
        .attr("class", "x label")
        .attr("text-anchor", "end")
        .attr("x", width / 2)
        .attr("y", height + 40)
        .style("font-size", "1em")
        .attr("fill", "white")
        .text(xAxisLabel);

      // ----------
      // Add Y axis
      // ----------

      // Add Y scale, specifying consumption as the value
      const yScale = d3
        .scaleLinear()
        .domain([
          0,
          d3.max(data, function (d) {
            return +d.consumption;
          }),
        ])
        .range([height, 0]);

      // Scale number of ticks to available height
      let numberOfYTicks: number = Math.floor(h / 60);

      // Add Y axis
      svg.append("g").call(d3.axisLeft(yScale).ticks(numberOfYTicks));

      // Add Y Axis label, scaling font to how long the label is
      let yAxisLabel: string = "Primary energy consumption (TWh)";
      svg
        .append("text")
        .attr("class", "y label")
        .attr("text-anchor", "end")
        .attr("y", -59)
        .attr("dy", ".75em")
        .attr("transform", "rotate(-90)")
        .style("font-size", function (d) {
          return Math.ceil(h / yAxisLabel.length) + "px";
        })
        .attr("fill", "white")
        .text(yAxisLabel);

      // Colors for the different groups
      const color = d3
        .scaleOrdinal()
        .range([
          "#e41a1c",
          "#377eb8",
          "#4daf4a",
          "#984ea3",
          "#ff7f00",
          "#ffff33",
          "#a65628",
          "#f781bf",
          "#999999",
        ]);

      // Graph the data
      svg
        .selectAll(".line")
        .data(sumstat)
        .join("path")
        .attr("fill", "none")
        .attr("stroke", function (d) {
          return color(d[0]);
        })
        .attr("stroke-width", 1.5)
        .attr("d", function (d) {
          return d3
            .line()
            .x(function (d) {
              return xScale(d.date);
            })
            .y(function (d) {
              return yScale(+d.consumption);
            })(d[1]);
        });
    });
  }

  onMount(loadData);
</script>

<div class="display" bind:clientWidth="{w}" bind:clientHeight="{h}">
  <p
    title="Primary energy consumption data was compiled by Our World in Data based on two key data sources:
1. BP Statistical Review of World Energy: https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html
2. Shift Energy Data Portal: https://www.theshiftdataportal.org/energy"
  >
    Energy Consumption Over Time
  </p>
  <svg class="energy"></svg>
</div>

<style>
</style>
