<script lang="ts">
  import * as d3 from "d3";
  import { onMount } from "svelte";

  let w: number;
  let h: number;

  function loadData() {
    console.log("Width: " + w + "; Height: " + h);
    const margin = { top: 10, right: 30, bottom: 30, left: 60 };

    let width: number = w - margin.left - margin.right;
    let height: number = h - margin.top - margin.bottom - 62;

    // Map the <svg> element to the svg variable for d3
    const svg = d3
      .select("svg.matter")
      .append("g")
      .attr("transform", `translate(${margin.left},0)`);

    // Parse the data from the csv, mapping each field in the implicit function
    d3.csv("/data/PCOTTINDUSDM.csv", function (d) {
      return {
        date: d3.timeParse("%Y-%m-%d")(d.DATE),
        cotton: d.PCOTTINDUSDM,
      };
    }).then(function (data) {
      // Create the graph

      // ----------
      // Add X axis
      // ----------

      // Create X scale based on date
      const xScale = d3
        .scaleTime()
        .domain(
          d3.extent(data, function (d) {
            return d.date;
          })
        )
        .range([0, width]);

      // Scale number of ticks to available width
      let numberOfXTicks: number = Math.floor(w / 60);

      // Add X axis
      svg
        .append("g")
        .attr("transform", `translate(0, ${height})`)
        .call(d3.axisBottom(xScale).ticks(numberOfXTicks))
        .transition();

      // Add X axis label
      let xAxisLabel: string = "Date";
      svg
        .append("text")
        .attr("class", "x label")
        .attr("text-anchor", "end")
        .attr("x", width / 2)
        .attr("y", height + 40)
        .style("font-size", "1em")
        .attr("fill", "white")
        .text(xAxisLabel);

      // ----------
      // Add Y axis
      // ----------

      // Add Y scale, specifying consumption as the value
      const yScale = d3
        .scaleLinear()
        .domain([
          0,
          d3.max(data, function (d) {
            return +d.cotton;
          }),
        ])
        .range([height, 0]);

      // Scale number of ticks to available height
      let numberOfYTicks: number = Math.floor(h / 60);

      // Add Y axis
      svg.append("g").call(d3.axisLeft(yScale).ticks(numberOfYTicks));

      // Add Y Axis label, scaling font to how long the label is
      let yAxisLabel: string = "U.S. Cents per Pound";
      svg
        .append("text")
        .attr("class", "y label")
        .attr("text-anchor", "end")
        .attr("y", -59)
        .attr("dy", ".75em")
        .attr("transform", "rotate(-90)")
        .style("font-size", function (d) {
          return Math.ceil(h / yAxisLabel.length) + "px";
        })
        .attr("fill", "white")
        .text(yAxisLabel);

      // Graph the data
      svg
        .append("path")
        .datum(data)
        .attr("fill", "none")
        .attr("stroke", "steelblue")
        .attr("stroke-width", 1.5)
        .attr(
          "d",
          d3
            .line()
            .x(function (d) {
              return xScale(d.date);
            })
            .y(function (d) {
              return yScale(d.cotton);
            })
        );
    });
  }

  onMount(loadData);
</script>

<div class="display" bind:clientWidth="{w}" bind:clientHeight="{h}">
  <p title="https://fred.stlouisfed.org/series/PCOTTINDUSDM">
    Cotton Price Over Time
  </p>
  <svg class="matter"> </svg>
</div>

<style>
</style>
