<script lang="ts">
  import { perCapita } from "@App/utility/perCapita";

  import * as d3 from "d3";
  import { onMount } from "svelte";

  import { currentRegionStore } from "../store/RegionStore";
  import DisplayTitle from "./title/DisplayTitle.svelte";

  let w: number;
  let h: number;

  function loadData() {
    console.log("Width: " + w + "; Height: " + h);
    const margin = { top: 10, right: 30, bottom: 30, left: 60 };

    let width: number = w - margin.left - margin.right;
    let height: number = h - margin.top - margin.bottom - 62;

    // Map the <svg> element to the svg variable for d3
    const svg = d3
      .select("svg.energy")
      .append("g")
      .attr("transform", `translate(${margin.left},0)`);

    // Parse the data from the csv, mapping each field in the implicit function
    Promise.all([
      d3.csv("/data/energy.csv", function (d) {
        return {
          date: d3.timeParse("%Y")(d.Year),
          entity: d.Entity,
          code: d.Code,
          consumption: +d["Primary energy consumption (TWh)"],
        };
      }),
      d3.csv("/data/POPTHM.csv", function (d) {
        return {
          date: d3.timeParse("%Y-%m-%d")(d.DATE),
          population: d.POPTHM,
        };
      }),
    ]).then(function (data) {
      // Create the graph

      let filteredData = data[0]
        .filter((d) => d.entity == $currentRegionStore)
        .map((d) => {
          return {
            date: d.date,
            value: d.consumption,
          };
        });

      let filteredDataPerCapita = perCapita(
        filteredData,
        data[1],
        1000000 / 1000
      );

      // ----------
      // Add X axis
      // ----------

      // Create X scale based on date
      const xScale = d3
        .scaleTime()
        .domain(
          d3.extent(filteredData, function (d) {
            return d.date;
          })
        )
        .range([0, width]);

      // Scale number of ticks to available width
      let numberOfXTicks: number = Math.floor(w / 60);

      // Add X axis
      svg
        .append("g")
        .attr("transform", `translate(0, ${height})`)
        .call(d3.axisBottom(xScale).ticks(numberOfXTicks))
        .transition();

      // Add X axis label
      let xAxisLabel: string = "Year";
      svg
        .append("text")
        .attr("class", "x label")
        .attr("text-anchor", "end")
        .attr("x", width / 2)
        .attr("y", height + 40)
        .style("font-size", "1em")
        .attr("fill", "white")
        .text(xAxisLabel);

      // ----------
      // Add Y axis
      // ----------

      // Add Y scale, specifying consumption as the value
      const yScale = d3
        .scaleLinear()
        .domain([
          d3.min(filteredDataPerCapita, function (d) {
            return d.perCapitaValue;
          }),
          d3.max(filteredDataPerCapita, function (d) {
            return d.perCapitaValue;
          }),
        ])
        .range([height, 0]);

      // Scale number of ticks to available height
      let numberOfYTicks: number = Math.floor(h / 60);

      // Add Y axis
      svg.append("g").call(d3.axisLeft(yScale).ticks(numberOfYTicks));

      // Add Y Axis label, scaling font to how long the label is
      let yAxisLabel: string = "Primary energy consumption (MWh per Capita)";
      svg
        .append("text")
        .attr("class", "y label")
        .attr("text-anchor", "end")
        .attr("y", -59)
        .attr("dy", ".75em")
        .attr("transform", "rotate(-90)")
        .style("font-size", function (d) {
          return Math.ceil(h / yAxisLabel.length) + "px";
        })
        .attr("fill", "white")
        .text(yAxisLabel);

      interface PerCapita {
        date: Date;
        perCapitaValue: number;
      }

      // Graph the data
      svg
        .append("path")
        .datum(filteredDataPerCapita)
        .attr("fill", "none")
        .attr("stroke", "steelblue")
        .attr("stroke-width", 1.5)
        .attr(
          "d",
          d3
            .line<PerCapita>()
            .x(function (d) {
              return xScale(d.date);
            })
            .y(function (d) {
              return yScale(d.perCapitaValue);
            })
        );
    });
  }

  onMount(loadData);
</script>

<div class="display" bind:clientWidth="{w}" bind:clientHeight="{h}">
  <DisplayTitle
    displayTitle="Energy"
    hoverText="Includes per capita metrics of energy consumption."
    sourcesAndMethods="
    Primary energy consumption data was compiled by Our World in Data based on two key data sources:
1. BP Statistical Review of World Energy: https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html
2. Shift Energy Data Portal: https://www.theshiftdataportal.org/energy
  "
  />
  <svg class="energy"></svg>
</div>

<style>
</style>
