<script lang="ts">
  import * as d3 from "d3";
  import { onMount } from "svelte";
  import DisplayTitle from "./title/DisplayTitle.svelte";

  let w: number;
  let h: number;

  function loadData() {
    console.log("Width: " + w + "; Height: " + h);
    const margin = { top: 10, right: 30, bottom: 30, left: 60 };

    let width: number = w - margin.left - margin.right;
    let height: number = h - margin.top - margin.bottom - 62;

    // Map the <svg> element to the svg variable for d3
    const svg = d3
      .select("svg.health")
      .append("g")
      .attr("transform", `translate(${margin.left},0)`);

    // Parse the data from the csv, mapping each field in the implicit function
    Promise.all([
      d3.csv("/data/SPDYNLE00INUSA.csv", function (d) {
        return {
          date: d3.timeParse("%Y-%m-%d")(d.DATE),
          lifeExpectancy: d.SPDYNLE00INUSA,
        };
      }),
      d3.csv("/data/POPTHM.csv", function (d) {
        return {
          date: d3.timeParse("%Y-%m-%d")(d.DATE),
          population: d.POPTHM,
        };
      }),
    ]).then(function (data) {
      // Create the graph

      // ----------
      // Add X axis
      // ----------

      // Create X scale based on date
      const xScale = d3
        .scaleTime()
        .domain(
          d3.extent(
            data[0].map((d) => d.date).concat(data[1].map((d) => d.date)),
            function (d) {
              return d;
            }
          )
        )
        .range([0, width]);

      // Scale number of ticks to available width
      let numberOfXTicks: number = Math.floor(w / 60);

      // Add X axis
      svg
        .append("g")
        .attr("transform", `translate(0, ${height})`)
        .call(d3.axisBottom(xScale).ticks(numberOfXTicks))
        .transition();

      // Add X axis label
      let xAxisLabel: string = "Date";
      svg
        .append("text")
        .attr("class", "x label")
        .attr("text-anchor", "end")
        .attr("x", width / 2)
        .attr("y", height + 40)
        .style("font-size", "1em")
        .attr("fill", "white")
        .text(xAxisLabel);

      // ----------
      // Add Y axis
      // ----------

      // Add Y scale, specifying lifeExpectancy as the value
      const yScaleLifeExpectancy = d3
        .scaleLinear()
        .domain([
          d3.min(data[0], function (d) {
            return +d.lifeExpectancy;
          }) - 5,
          d3.max(data[0], function (d) {
            return +d.lifeExpectancy;
          }) + 5,
        ])
        .range([height, 0]);

      const yScalePopulation = d3
        .scaleLinear()
        .domain([
          d3.min(data[1], function (d) {
            return +d.population;
          }),
          d3.max(data[1], function (d) {
            return +d.population;
          }),
        ])
        .range([height, 0]);

      // Scale number of ticks to available height
      let numberOfYTicks: number = Math.floor(h / 60);

      // Add Y axis
      svg
        .append("g")
        .attr("stroke", "steelblue")
        .call(d3.axisLeft(yScaleLifeExpectancy).ticks(numberOfYTicks));
      svg
        .append("g")
        .attr("stroke", "red")
        .call(d3.axisRight(yScalePopulation).ticks(numberOfYTicks));

      // Add Y Axis label, scaling font to how long the label is
      let yAxisLabel: string = "Life Expectancy | Population (Thousands)";
      svg
        .append("text")
        .attr("class", "y label")
        .attr("text-anchor", "end")
        .attr("y", -59)
        .attr("dy", ".75em")
        .attr("transform", "rotate(-90)")
        .style("font-size", function (d) {
          return Math.ceil(h / yAxisLabel.length) + "px";
        })
        .attr("fill", "white")
        .text(yAxisLabel);

      // Graph the data
      svg
        .append("path")
        .datum(data[0])
        .attr("fill", "none")
        .attr("stroke", "steelblue")
        .attr("stroke-width", 1.5)
        .attr(
          "d",
          d3
            .line()
            .x(function (d) {
              return xScale(d.date);
            })
            .y(function (d) {
              return yScaleLifeExpectancy(d.lifeExpectancy);
            })
        );
      svg
        .append("path")
        .datum(data[1])
        .attr("fill", "none")
        .attr("stroke", "red")
        .attr("stroke-width", 1.5)
        .attr(
          "d",
          d3
            .line()
            .x(function (d) {
              return xScale(d.date);
            })
            .y(function (d) {
              return yScalePopulation(d.population);
            })
        );
    });
  }

  onMount(loadData);
</script>

<div class="display" bind:clientWidth="{w}" bind:clientHeight="{h}">
  <DisplayTitle
    displayTitle="Health"
    hoverText="Includes Health measurements like average expected lifespan and population size."
    sourcesAndMethods="
    Lifespan: https://fred.stlouisfed.org/series/SPDYNLE00INUSA, 
Population: https://fred.stlouisfed.org/series/POPTHM
  "
  />
  <svg class="health"> </svg>
</div>

<style>
</style>
