<script lang="ts">
  import * as d3 from "d3";
  import { onMount } from "svelte";

  import DisplayTitle from "./title/DisplayTitle.svelte";

  let w: number;
  let h: number;

  function loadData() {
    console.log("Width: " + w + "; Height: " + h);
    const margin = { top: 10, right: 30, bottom: 30, left: 60 };

    let width: number = w - margin.left - margin.right;
    let height: number = h - margin.top - margin.bottom - 62;

    // Map the <svg> element to the svg variable for d3
    const svg = d3
      .select("svg.information")
      .append("g")
      .attr("transform", `translate(${margin.left},0)`);

    // Parse the data from the csv, mapping each field in the implicit function
    Promise.all([
      d3.csv("/data/moores_law.csv", function (d) {
        return {
          processor: d.Processor,
          transistors: parseInt(d.Transistors.replaceAll(",", "")),
          date: d3.timeParse("%Y")(d.Year),
          designer: d.Designer,
          process: d.Process,
          area: +d["Area mm2"],
          trans_per_mm2: +d["Trans./mm2"],
        };
      }),
      d3.csv("/data/global_internet_traffic_by_year.csv", function (d) {
        return {
          date: d3.timeParse("%Y")(d.Year),
          ipTraffic: +d["IPTraffic(PB/month)"],
          fixedTraffic: +d["FixedInternettraffic(PB/month)"],
          mobileTraffic: +d["MobileInternettraffic(PB/month)"],
        };
      }),
    ]).then(function (data) {
      // Create the graph

      // ----------
      // Add X axis
      // ----------

      // Create X scale based on date
      const xScale = d3
        .scaleTime()
        .domain(
          d3.extent(
            data[0].map((d) => d.date).concat(data[1].map((d) => d.date)),
            function (d) {
              return d;
            }
          )
        )
        .range([0, width]);

      // Scale number of ticks to available width
      let numberOfXTicks: number = Math.floor(w / 60);

      // Add X axis
      svg
        .append("g")
        .attr("transform", `translate(0, ${height})`)
        .call(d3.axisBottom(xScale).ticks(numberOfXTicks))
        .transition();

      // Add X axis label
      let xAxisLabel: string = "Date";
      svg
        .append("text")
        .attr("class", "x label")
        .attr("text-anchor", "end")
        .attr("x", width / 2)
        .attr("y", height + 40)
        .style("font-size", "1em")
        .attr("fill", "white")
        .text(xAxisLabel);

      // ----------
      // Add Y axis
      // ----------

      // Add Y scale, specifying transistors as the value
      const yScaleTransistors = d3
        .scaleLog()
        .domain([
          1,
          d3.max(data[0], function (d) {
            return d.transistors;
          }),
        ])
        .range([height, 0]);

      const yScaleIPTraffic = d3
        .scaleLog()
        .domain([
          d3.min(data[1], (d) => d.ipTraffic),
          d3.max(data[1], (d) => d.ipTraffic),
        ])
        .range([height, 0]);

      // Scale number of ticks to available height
      let numberOfYTicks: number = Math.floor(h / 60);

      // Add Y axis
      svg
        .append("g")
        .attr("stroke", "steelblue")
        .call(d3.axisLeft(yScaleTransistors).ticks(numberOfYTicks));

      svg
        .append("g")
        .attr("stroke", "red")
        .call(d3.axisRight(yScaleIPTraffic).ticks(numberOfYTicks));

      // Add Y Axis label, scaling font to how long the label is
      let yAxisLabel: string = "Transistors In Processor | IP Traffic (PB)";
      svg
        .append("text")
        .attr("class", "y label")
        .attr("text-anchor", "end")
        .attr("y", -59)
        .attr("dy", ".75em")
        .attr("transform", "rotate(-90)")
        .style("font-size", function (d) {
          return Math.ceil(h / yAxisLabel.length) + "px";
        })
        .attr("fill", "white")
        .text(yAxisLabel);

      // Graph the data
      svg
        .append("g")
        .selectAll("dot")
        .data(data[0].sort((a, b) => d3.ascending(a.date, b.date)))
        .join("circle")
        .attr("cx", function (d) {
          return xScale(d.date);
        })
        .attr("cy", function (d) {
          return yScaleTransistors(d.transistors);
        })
        .attr("r", 1.5)
        .style("fill", "steelblue");

      interface IpTraffic {
        date: Date;
        ipTraffic: number;
      }

      svg
        .append("path")
        .datum(data[1])
        .attr("fill", "none")
        .attr("stroke", "red")
        .attr("stroke-width", 1.5)
        .attr(
          "d",
          d3
            .line<IpTraffic>()
            .x(function (d) {
              return xScale(d.date);
            })
            .y(function (d) {
              return yScaleIPTraffic(d.ipTraffic);
            })
        );
    });
  }

  onMount(loadData);
</script>

<div class="display" bind:clientWidth="{w}" bind:clientHeight="{h}">
  <DisplayTitle
    displayTitle="Information"
    hoverText="Includes Information Technologies like transistors per processor and network traffic."
    sourcesAndMethods="
  Moore's Law: https://gist.github.com/emartin59/0345adc1a60ad58433bb9b24113f490b
Internet Traffic: https://en.wikipedia.org/wiki/Internet_traffic
  "
  />
  <svg class="information"> </svg>
</div>

<style>
</style>
