<script lang="ts">
	import Energy from "./displays/Energy.svelte";
	import Matter from "./displays/Matter.svelte";
	import Information from "./displays/Information.svelte";
	import Transport from "./displays/Transport.svelte";
	import Health from "./displays/Health.svelte";
	import Timeline from "./timeline/Timeline.svelte";

	import { currentRegionStore } from "./store/RegionStore";
</script>

<div>
	<h1>Progress Dashboard</h1>
	<button>{$currentRegionStore}</button>
</div>
<main>
	<div class="left">
		<Matter />
		<Energy />
	</div>
	<div class="center">
		<Transport />
	</div>
	<div class="right">
		<Information />
		<Health />
	</div>
</main>
<div class="timeline">
	<Timeline />
</div>

<style>
	main {
		text-align: center;
		padding: 0em 1em 1em 1em;
		max-width: 240px;
		display: flex;
		height: inherit;
	}

	div {
		display: flex;
	}

	div.left {
		flex-direction: column;
		width: 25%;
	}

	div.right {
		flex-direction: column;
		width: 25%;
	}

	div.center {
		width: 50%;
	}

	div.timeline {
		height: 10%;
		padding: 0em 1em 1em 1em;
	}

	h1 {
		padding-left: 1em;
		padding-right: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
