<script lang="ts">
  export let displayTitle = "";
  export let hoverText = "";
  export let sourcesAndMethods = "";
</script>

<div class="title">
  <button class="region">World</button>
  <p title="{hoverText}">
    {displayTitle}
  </p>
  <button class="sources" title="{sourcesAndMethods}"> Sources </button>
</div>

<style>
  div {
    display: flex;
    align-items: center;
    margin: 0 0.25em;
  }
  p {
    min-width: 60%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  }
  button {
    max-width: 20%;
    margin: 0 0 0 0;
    height: fit-content;
    overflow: hidden;
    font-size: 0.875em;
  }
</style>
